---
import { MissionAndVission } from "./MissionAndVission";
import { Paragraph } from "./ui/Paragraph";
import { Title } from "./ui/Title";
---

<section class="py-14 md:py-28" id="sobre-nosotros">
  <div class="container">
    <Title client:load>Sobre Nosotros</Title>
    <Paragraph client:load
      >Conócenos un poco más. En Coffee Code nos apasiona ofrecerte un café de
      calidad en un ambiente acogedor. Nos esforzamos por brindarte una
      experiencia única en cada visita.
    </Paragraph>

    <div class="grid lg:grid-cols-2 mt-10 gap-10 lg:gap-20">
      <MissionAndVission client:visible />
    </div>
  </div>
</section>
