---
import { Paragraph } from "./ui/Paragraph";
import { Title } from "./ui/Title";
---

<section class="py-14 md:py-28" id="contacto">
  <div class="container">
    <Title client:load className="md:text-center">Contáctanos</Title>
    <Paragraph client:load className="md:text-center mx-auto"
      >Consultanos para hacer un pedido, reservar una mesa o cualquier duda que
      tengas, estamos siempre disponibles!
    </Paragraph>

    <form action="" class="max-w-2xl mx-auto mt-10 flex flex-col gap-8">
      <div class="relative z-10">
        <input
          type="text"
          id="name"
          class="peer block border-b-2 appearance-none border-primary-700 focus:border-primary-600
          py-2.5 w-full px-0 bg-transparent outline-none font-medium
          transition-colors duration-300 text-primary-700 placeholder-transparent"
          placeholder="Tu nombre"
          autocomplete="off"
        />
        <label
          for="name"
          class="absolute text-zinc-500 duration-300 scale-75
          top-3 left-0 origin-[0] -z-10 -translate-y-6 transform
          peer-placeholder-shown:translate-y-0
          peer-focus:-translate-y-6 peer-placeholder-shown:scale-100 peer-focus:scale-75 peer-focus:text-primary-700"
        >
          Tu nombre
        </label>
      </div>

      <div class="relative">
        <input
          type="email"
          id="email"
          class="peer block border-b-2 appearance-none border-primary-700 focus:border-primary-600
        py-2.5 w-full px-0 bg-transparent outline-none font-medium
        transition-colors duration-300 text-primary-700 placeholder-transparent"
          placeholder="Tu email"
          autocomplete="off"
        />
        <label
          for="email"
          class="absolute text-zinc-500 duration-300 scale-75
          top-3 left-0 origin-[0] -z-10 -translate-y-6 transform
          peer-placeholder-shown:translate-y-0
          peer-focus:-translate-y-6 peer-placeholder-shown:scale-100 peer-focus:scale-75 peer-focus:text-primary-700"
          >Tu email</label
        >
      </div>

      <div class="relative">
        <input
          type="text"
          id="phone"
          class="peer block border-b-2 appearance-none border-primary-700 focus:border-primary-600
          py-2.5 w-full px-0 bg-transparent outline-none font-medium
          transition-colors duration-300 text-primary-700 placeholder-transparent"
          placeholder="Tu número"
          autocomplete="off"
        />
        <label
          for="phone"
          class="absolute text-zinc-500 duration-300 scale-75
          top-3 left-0 origin-[0] -z-10 -translate-y-6 transform
          peer-placeholder-shown:translate-y-0
          peer-focus:-translate-y-6 peer-placeholder-shown:scale-100 peer-focus:scale-75 peer-focus:text-primary-700"
          >Tu número</label
        >
      </div>

      <div class="relative">
        <input
          type="text"
          id="subject"
          placeholder="Tu asunto"
          autocomplete="off"
          class="peer block border-b-2 appearance-none border-primary-700 focus:border-primary-600
          py-2.5 w-full px-0 bg-transparent outline-none font-medium
          transition-colors duration-300 text-primary-700 placeholder-transparent"
        />
        <label
          for="subject"
          class="absolute text-zinc-500 duration-300 scale-75
          top-3 left-0 origin-[0] -z-10 -translate-y-6 transform
          peer-placeholder-shown:translate-y-0 peer-focus:-translate-y-6
          peer-placeholder-shown:scale-100 peer-focus:scale-75 peer-focus:text-primary-700"
          >Asunto</label
        >
      </div>

      <div class="relative">
        <textarea
          name="message"
          id="message"
          placeholder="Tu mensaje"
          class="peer block border-b-2 appearance-none border-primary-700 focus:border-primary-600
          py-2.5 w-full px-0 bg-transparent outline-none font-medium
          transition-colors duration-300 text-primary-700 placeholder-transparent"
        ></textarea>
        <label
          for="message"
          class="absolute text-zinc-500 duration-300 scale-75
          top-3 left-0 origin-[0] -z-10 -translate-y-6 transform
          peer-placeholder-shown:translate-y-0 peer-focus:-translate-y-6
          peer-placeholder-shown:scale-100 peer-focus:scale-75 peer-focus:text-primary-700"
          >Tu mensaje</label
        >
      </div>

      <input
        type="submit"
        class="mt-5 py-2.5 px-5 bg-primary-600 text-xl text-white font-medium hover:bg-transparent hover:text-primary-600 border-2 border-primary-600 transition-all duration-300 cursor-pointer"
        value="Enviar mensaje"
      />
    </form>
  </div>
</section>
