---
import { ContactForm } from "./ContactForm";
import { Paragraph } from "./ui/Paragraph";
import { Title } from "./ui/Title";
---

<section class="py-14 md:py-28" id="contacto">
  <div class="container">
    <Title client:load className="md:text-center">Contáctanos</Title>
    <Paragraph client:load className="md:text-center mx-auto"
      >Consultanos para hacer un pedido, reservar una mesa o cualquier duda que
      tengas, estamos siempre disponibles!
    </Paragraph>

    <ContactForm client:visible />
  </div>
</section>
