---
import { Paragraph } from "./ui/Paragraph";
import { Title } from "./ui/Title";
import { GalleryGrid } from "./GalleryGrid";
---

<section class="py-14 md:py-28" id="galeria">
  <div class="container">
    <Title client:visible>Nuestra Galería</Title>
    <Paragraph client:visible
      >Descubre nuestra selección de fotos que capturan la esencia de nuestro
      café, el ambiente acogedor y la pasión que ponemos en cada taza</Paragraph
    >

    <GalleryGrid client:visible />
  </div>
</section>
