---
import { getCollection } from "astro:content";
import { Title } from "./ui/Title";
import { Paragraph } from "./ui/Paragraph";
import { MenuList } from "./MenuList";

const allDrinks = await getCollection("drinks");
const drinksData = allDrinks.map((drink) => drink.data);
---

<section class="py-14 md:py-28" id="menu">
  <div class="container">
    <Title client:visible>Nuestro Menú</Title>
    <Paragraph client:visible
      >Explora nuestro menú y disfruta de una selección de bebidas deliciosas y
      frescas. ¡Siempre algo para todos!</Paragraph
    >
    <MenuList client:visible drinks={drinksData} />
  </div>
</section>
